@import "variables/global.scss", "reset.scss", "themes/light.scss",
  "themes/dark.scss";

.app {
  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.page-content{
  display: flex;
}

.page-wrapper{
  flex-grow: 1;
}