.button {
    padding: 10px 20px;
}

.primary {
    border: 1px solid black;
    background: chocolate;
}

.secondary {
    border: 0;
    background: chartreuse;
}

.outlined {
    background: transparent;
    border: 1px solid black;
    color: var(--primary-color);
}
