.app.dark {
    --bg-color: #141414;
    --inverted-bg-color: #e5e5e5;
    --primary-color: #d1d1d1;
    --secondary-color: #d1d1d1;
    --inverted-primary-color: #e5e5e5;
    --inverted-secondary-color: #d1d1d1;
}
