.app.light {
    --bg-color: #e5e5e5;
    --inverted-bg-color: #141414;
    --primary-color: #141414;
    --secondary-color: #141414;
    --inverted-primary-color: #141414;
    --inverted-secondary-color: #262626;
}
